<header>
    <div class="row align-items-center">
        <div class="col-md">
            <h1>
                KRISTÈNE GLAJEAN <br>
                <small>VFX COMPOSITOR JUNIOR</small>
            </h1>
        </div>
        <div class="col-md">
            <ul class="list-unstyled d-flex justify-content-end">
                <li class="ml-2">
                    <a href="mailto:%6b%72%69%73%74%65%6e%65%2e%67%6c%61%6a%65%61%6e%40%67%6d%61%69%6c%2e%63%6f%6d">
                        Email
                    </a>
                </li>
                <li class="ml-2">
                    <a href="https://fr.linkedin.com/in/krist%C3%A8ne-glajean-9a0845150">
                        LinkedIn
                    </a>
                </li>
                <li class="ml-2">
                    <a href="https://www.artstation.com/kris_gc">
                        ArtStation
                    </a>
                </li>
                <li class="ml-2">
                    <a href="https://domain.ext/path">
                        CV
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>